@model BookViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form method="post">
        <label>Title:</label>
        <input type="text" name="Title" value="@Model?.Title" required />
        <br />
        <label>Author:</label>
        <input type="text" name="Author" value="@Model?.Author" required />
        <br />
        <label>Genre:</label>
        <input type="text" name="Genre" value="@Model?.Genre" required />
        <br />
        <label>Year:</label>
        <input type="number" name="Year" value="@Model?.Year" required />
        <br />
        <button type="submit">Add Book</button>
    </form>
    <a href="/Book/Index">Back to List</a>
</body>
</html>
